# Next.js build output
.next/
out/
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# testing
coverage/

# typescript
*.tsbuildinfo
next-env.d.ts

# macOS-specific files
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# claude context
.claude

# vercel
.vercel