---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div
  id="container"
  class="min-h-screen flex flex-col items-center justify-center bg-cover bg-center"
>
  <h1 class="text-3xl font-bold text-blue-500 m-auto">Hellou</h1>
</div>
