---
import CalmindSeriesLogo from "../assets/CalmindSeriesLogo.png";
import { Image } from "astro:assets";
---

<div
  id="container"
  class="min-h-screen min-w-full flex flex-col items-center justify-center"
>
  <h1 class="text-3xl font-bold text-jacksons-purple-500">Hellou</h1>
  <Image
    src={CalmindSeriesLogo}
    alt="Calmind Series Logo"
    width={200}
    height={200}
  />
</div>
