---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Navbar />
    <div>
      <slot />
    </div>
  </body>

  <style is:global>
    :root {
      --color-jacksons-purple-300: #b9b7fb;
    }
    html {
      font-family: system-ui, sans-serif;
      background: var(--color-jacksons-purple-300);
      color: #fff;
    }

    body {
      @apply grid place-content-center;
    }

    body > div {
      @apply container;
    }
  </style>
</html>
